main {
   background-color: orange;

   img {
      min-height: 350px;
   }

   .form-select {
      width: 200px;
   }

   .card {
      background-color: orange;
      border: none;
      min-height: 100%;
   }
}

@media screen and (max-width: 575.98px) {
   main {
      .card {
         width: 65%;
         margin: auto;
      }

      img {
         min-height: 450px;
      }
   }
}